@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 100;
    src: url(https://www.digikala.com/static/files/f9b12859.eot);
    src: url(https://www.digikala.com/static/files/f9b12859.eot?#iefix) format("embedded-opentype"), url(https://www.digikala.com/static/files/f78b74c5.woff) format("woff"), url(https://www.digikala.com/static/files/11627467.ttf) format("truetype")
}

@font-face {
    font-family: IRANYekan;
    src: url(https://www.digikala.com/static/files/699085bd.eot);
    src: url(https://www.digikala.com/static/files/699085bd.eot?#iefix) format("embedded-opentype"), url(https://www.digikala.com/static/files/a80f71ff.woff2) format("woff2"), url(https://www.digikala.com/static/files/088dfe8a.woff) format("woff"), url(https://www.digikala.com/static/files/2c83275a.ttf) format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 500;
    src: url(https://www.digikala.com/static/files/6a51276d.eot);
    src: url(https://www.digikala.com/static/files/6a51276d.eot?#iefix) format("embedded-opentype"), url(https://www.digikala.com/static/files/492984b8.woff) format("woff"), url(https://www.digikala.com/static/files/6387a14a.ttf) format("truetype")
}

@font-face {
    font-family: IRANYekan;
    src: url(https://www.digikala.com/static/files/7c912e00.eot);
    src: url(https://www.digikala.com/static/files/7c912e00.eot?#iefix) format("embedded-opentype"), url(https://www.digikala.com/static/files/fe12f13a.woff2) format("woff2"), url(https://www.digikala.com/static/files/2d7cc7cd.woff) format("woff"), url(https://www.digikala.com/static/files/a7d41f91.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: IRANYekan;
    src: url(https://www.digikala.com/static/files/cea3492e.eot);
    src: url(https://www.digikala.com/static/files/cea3492e.eot?#iefix) format("embedded-opentype"), url(https://www.digikala.com/static/files/1d9f5870.woff) format("woff"), url(https://www.digikala.com/static/files/f2ab2738.ttf) format("truetype");
    font-weight: 800;
    font-style: normal
}

@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 900;
    src: url(https://www.digikala.com/static/files/5b8cfc1c.eot);
    src: url(https://www.digikala.com/static/files/5b8cfc1c.eot?#iefix) format("embedded-opentype"), url(https://www.digikala.com/static/files/76ccefec.woff) format("woff"), url(https://www.digikala.com/static/files/44b6abc1.ttf) format("truetype")
}

@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 950;
    src: url(https://www.digikala.com/static/files/e2d75f96.eot);
    src: url(https://www.digikala.com/static/files/e2d75f96.eot?#iefix) format("embedded-opentype"), url(https://www.digikala.com/static/files/b5c0daaf.woff) format("woff"), url(https://www.digikala.com/static/files/5f989680.ttf) format("truetype")
}

@font-face {
    font-family: IRANYekan;
    src: url(https://www.digikala.com/static/files/5bea6c32.eot);
    src: url(https://www.digikala.com/static/files/5bea6c32.eot?#iefix) format("embedded-opentype"), url(https://www.digikala.com/static/files/1fdcadec.woff2) format("woff2"), url(https://www.digikala.com/static/files/56a1baa4.woff) format("woff"), url(https://www.digikala.com/static/files/79533773.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: IRANYekanDigits;
    src: url(https://www.digikala.com/static/files/24659979.eot);
    src: url(https://www.digikala.com/static/files/24659979.eot?#iefix) format("embedded-opentype"), url(https://www.digikala.com/static/files/9a3fc3d8.woff2) format("woff2"), url(https://www.digikala.com/static/files/b7443b71.woff) format("woff"), url(https://www.digikala.com/static/files/29a4348a.ttf) format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: IRANSans;
    src: url(https://www.digikala.com/static/files/a83daff6.ttf) format("truetype");
    font-weight: 300;
    font-style: normal
}