div.sidebar__header__user.row {
    /* display: none; */
    /* border-radius: 00px 30px 0px 0px; */
    display: flex !important;
    flex-direction: row-reverse !important;
    background-color: #D85757 !important;
}

.badge {
    background-color: rgb(255, 110, 110) !important;
}

div.avatar__placeholder.avatar__placeholder--tiny.avatar__placeholder--purple.sidebar__avatar {
    background-color: #909090 !important;
}

.recent__item__title col-xs {
    display: flex !important;
    flex-direction: row !important;
}

.recent__item__title__subText {
    /* display: none; */
    display: flex !important;
    /* flex-direction: column; */
    margin: 5px !important;
}

span.recent__item__title__status {
    /* padding-left: 40px; */
    margin-left: 10px !important;
}

.scroller__container {
    transition: 1s !important;
}

.recent__item__avatar {
    /* display: none; */
    transform: scale(.7) !important;
}

.recent__item__type {
    display: none !important;
}

.chat__container {
    transition: .5s !important;
}

.recent__item {
    transition: .5s !important;
    display: flex !important;
    justify-content: center !important;
    /* height: 10%; */
    margin: 0px !important;
    padding: 1px !important;
    /* vertical-align: middle; */
}

.recent__item__title__short-text {
    display: none !important;
}

.recent_item__sender {
    display: none !important;
}

.app {
    width: 100% !important;
}

div.fill {
    background: rgb(68, 68, 68) linear-gradient(#575757, rgba(255, 0, 0, 0.384)) !important;
    color: #FF9595 !important;
}

div.unread-divider {
    display: none !important;
}

header.toolbar.row {
    transition: ease-in .5s !important;
    background-color: #EF5F5F !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    border-radius: 0px 0px 40px 40px !important;
}

div.avatar__placeholder.avatar__placeholder--medium.avatar__placeholder--purple.message__avatar.avatar--clickable {
    /* display: none; */
}

div.message__info.message__info--avatar {
    /* display: none; */
}

div.message__body {
    background-color: rgb(97, 97, 97) !important;
    transform: scale(0.95) !important;
}

div div p {
    color: rgba(255, 255, 255, 0.87) !important;
}

time.message__timestamp {
    color: rgb(255, 209, 59) !important;
}


/* span.message__sender__name {
    background-color: rgb(150, 15, 15);
    padding: 1px 5px 1px 5px;
    margin: 8px;
    margin-right: 0px;
    border-radius: 8px;
  } */

header h3 a {
    color: #ff7575 !important;
}

div.service {
    color: rgb(175, 175, 175) !important;
}

div a span {
    color: #ff7575 !important;
}

div.message__preview__body {
    background-color: rgb(82, 82, 82) !important;
}

div.message__preview__info.message__preview__info--avatar {
    background-color: rgb(182, 182, 39) !important;
}

span.document__filename.document__filename--right {
    color: rgb(185, 233, 123) !important;
}

span.document__filename.document__filename--left {
    color: rgb(185, 233, 123) !important;
}

div.message {
    /* background: rgba(0, 0, 0, 0.356); */
    margin: 0px !important;
    /* transform: scale(0.9); */
}

div.message__actions__menu {
    color: #ffffffcb !important;
}

div.message__actions__reply {
    color: #ffffffcb !important;
}

.dialog {
    transition: .5s !important;
}

i.icon.icon-favorite.material-icons {
    color: #ffffffcb !important;
}

div.date-divider {
    background: rgb(145, 145, 145) !important;
}

div.pinned-message__container {
    background-color: rgba(185, 185, 185, 0.37) !important;
}


/* section.compose {
    background-color: rgb(156, 156, 156);
  }
  
  button.button.button--blue {
    display:flex;
    justify-content: center;
    border-radius: 20px;
    background-color: rgb(14, 150, 150);
    font-weight: 400;
  }
  
  footer.compose__footer.row {
    display:flex;
    justify-items: center;
    
  }
  
  textarea.compose__message.compose--left {
    background: transparent;
  }
  
  div.compose__box {
    background-color: rgb(226, 226, 226);
    
  }
  
  div.voice-recorder {
    background: white;
  } */

div.recent__item {
    transition: .5s !important;
}

.tab--active .recent__item:hover {
    /* height: 70px;  */
    transition: .5s !important;
}

.recent__item--active {
    transition: .5s !important;
    height: 70px !important;
}

.col-xs {
    display: flex !important;
    flex-direction: row-reverse !important;
    justify-content: start !important;
}

span.recent__item__title_text-content {
    margin-top: 5px !important;
}

.recent__item__title_text-content {
    padding-left: 10px !important;
}

div.recent__item__title__subText {
    display: flex !important;
    /* justify-content: center; */
    justify-content: start !important;
}

.recent__item--Active {
    background-color: #f75e66 !important;
}

.recent__item--deActive {
    background-color: rgb(165, 165, 165) !important;
}

span.recent__item__counter {
    padding-left: 6px !important;
    /* width: 60px; */
    /* transform: scale(0.8); */
    /* background-color: #f75e66; */
}

div.toolbar__peer.col-xs {
    display: flex !important;
    flex-direction: column !important;
    transition: .5s !important;
}

time.voice__time.voice__time--total {
    display: flex !important;
    /* flex-direction: column; */
}

div.voice__body.col-xs {
    display: flex !important;
    flex-direction: column !important;
}

.avatar__placeholder {
    /* background-color: rgb(255, 135, 65); */
}

div.join__message.join__message--error {
    color: rgb(255, 95, 95) !important;
    font-size: 300px !important;
    transition: ease-in .5s !important;
}

div.join__container {
    background-color: rgb(231, 231, 231) !important;
}

header.toolbar__main.col.INFORMAL {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    background-color: transparent !important;
    border-radius: 0px 0px 40px 40px !important;
}

header.sidebar__header.sidebar__header--clickable {
    background: rgba(138, 138, 138, 0.815) !important;
    /* border-radius: 00px 20px 0px 0px; */
}

aside.sidebar.sidebar--selected {
    /* background-color: transparent; */
    /* margin-left:40px ; */
}

div.app {
    display: flex !important;
    flex-direction: row-reverse !important;
}

div.recent__item {
    display: flex !important;
    flex-direction: row-reverse !important;
}

div.recent__item__title__text {
    display: flex !important;
    flex-direction: row-reverse !important;
}

span.sidebar__header__user__name.col-xs {
    /* margin-left: 40px; */
}

i.material-icons {
    margin-right: 0px !important;
}

div.dropdown.dropdown--profile {
    margin-right: 0 !important;
}

div.row.new-contact-contain {
    margin-left: 90px !important;
    margin-right: 90px !important;
    /* width: 60%; */
    display: flex !important;
    background-color: transparent !important;
}

div.pinned-message {
    display: none !important;
}

img.avatar__image.toolbar__avatar {
    transition: .5s !important;
}

span.toolbar__peer__title {
    transition: .5s !important;
}

div.avatar__placeholder.avatar__placeholder--normal.avatar__placeholder--purple.my-avatar {
    background-color: rgb(95, 95, 95) !important;
}

.avatar--clickable {
    cursor: pointer !important;
}

header div div {
    background-color: transparent !important;
}